<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2010-2026 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.catalog.mapper.ItemMapper">

  <select id="getItemListByProduct" resultType="Item">
    SELECT
      i.itemid,
      i.listprice,
      i.unitcost,
      i.supplier    AS supplierId,
      i.status,
      i.attr1       AS attribute1,
      i.attr2       AS attribute2,
      i.attr3       AS attribute3,
      i.attr4       AS attribute4,
      i.attr5       AS attribute5,
      p.productid   AS "product.productId",
      p.name        AS "product.name",
      p.descn       AS "product.description",
      p.category    AS "product.categoryId"
    FROM item i
    INNER JOIN product p ON p.productid = i.productid
    WHERE i.productid = #{productId}
  </select>

  <select id="getItem" resultType="Item">
    SELECT
      i.itemid,
      i.listprice,
      i.unitcost,
      i.supplier    AS supplierId,
      i.status,
      i.attr1       AS attribute1,
      i.attr2       AS attribute2,
      i.attr3       AS attribute3,
      i.attr4       AS attribute4,
      i.attr5       AS attribute5,
      v.qty         AS quantity,
      p.productid   AS "product.productId",
      p.name        AS "product.name",
      p.descn       AS "product.description",
      p.category    AS "product.categoryId"
    FROM item i
    INNER JOIN product p   ON p.productid = i.productid
    INNER JOIN inventory v ON v.itemid    = i.itemid
    WHERE i.itemid = #{itemId}
  </select>

  <select id="getInventoryQuantity" resultType="int">
    SELECT qty FROM inventory WHERE itemid = #{itemId}
  </select>

</mapper>
